@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #347B98;
}

header {
    background-color: #0247FE;
    color: #D4EDF7;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 1.6em;
    font-weight: bold;
}

.container {
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #D4EDF7;
    color: #347B98;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.container p {
    margin: 10px 0;
    padding: 10px;
}

.nav li {
    display: inline;
    padding: 10px;
    margin: 10px;
}

.nav a {
    text-decoration: none;
    color: #D4EDF7;
}